<style>
body {
  background: url(https://images.unsplash.com/photo-1417217601328-d3c66e6f1d48?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6b6b0c2e56a3b04470f56bf738873e83);
  background-size: cover;
  background-position: center;
}
</style>


<!-- <body class"home"> -->



<div class="container">

<div class="row">
  <div class="col-lg-12">
  <div id="content">
  <h1 class="h1home">Lose Weight Gain life</h1>
  <h3>Keep Yourself Accountable</h3>
  <hr>
  <!-- <button a href="users/new" class="btn btn-default btn-lg">Get Started</button> -->
  <a href="users/new" class="btn btn-default btn-lg" role="button">Get Started</a>
  </div>
  </div>
</div>

</div>

<!-- </body> -->
