<!-- <h1>Measurement#new</h1>
<p>Find me in app/views/measurement/new.html.erb</p> -->



<div class="container">
  <h1>Enter Your Measurements</h1>
  <div class="row">
    <div class="col-lg-6">
      <form>
        <fieldset class="form-group">
          <label for="formGroupExampleInput">Height</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Height">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput2">Weight</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Weight">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput3">Waist</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Waist">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput4">Thighs</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Thighs">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput5">Stomach</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Waist">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput6">Hips</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Thighs">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput7">Stomach</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Waist">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput8">Hips</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Thighs">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput7">Upper Arm Right</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Upper Arm Right">
        </fieldset>
        <fieldset class="form-group">
          <label for="formGroupExampleInput8">Upper Arm Left</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Upper Arm Left">
        </fieldset>
        <fieldset class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
